html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

aside, main, footer {
    position: fixed;
}

main {
    width: 60%;
    left: 20%;
}

aside {
    width: 16%;
    left: 2%;
}
main + aside {
    left: inherit;
    right: 2%;
}

header, footer {
    font-style: italic;
    padding: 1em;
}

footer {
    width: 100%;
    bottom: 0;
}

h2 {
    font-size: 120%;
}

p {
    padding: 1em;
}

#scene, #summary, #inventory {
    height: 20em;
    border-radius: 1em;
}

#scene {
    border: 1px solid gray;
}

#controls {
    margin-top: 1em;
}

#command {
    width: 16ex;
}

