html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

aside, main {
    float: left;
}

main {
    width: 60%;
    padding: 0 0%;
}

aside {
    width: 16%;
    padding: 0 2%;
}

header, footer {
    font-style: italic;
    padding: 1em;
    clear: both;
}

h2 {
    font-size: 120%;
}

p {
    padding: 1em;
}

#scene, #summary, #inventory {
    height: 20em;
    border-radius: 1em;
}

#scene {
    border: 1px solid gray;
}

#controls {
    margin-top: 1em;
}

#command {
    width: 16ex;
}

