html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

aside, main {
    display: inline-block;
    vertical-align: top;
    padding: 0 1%;
}

main {
    width: 60%;
}

aside {
    width: 16%;
}

header, footer {
    font-style: italic;
    padding: 1em;
}

h2 {
    font-size: 120%;
}

p {
    padding: 1em;
}

#scene, #summary, #inventory {
    height: 20em;
    border-radius: 1em;
}

#scene {
    border: 1px solid gray;
}

#controls {
    margin-top: 1em;
}

#command {
    width: 16ex;
}

